NEXT_PUBLIC_SUPABASE_URL=https://vbtnhqghlsnuhfhirpoo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZidG5ocWdobHNudWhmaGlycG9vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2OTEyNjMsImV4cCI6MjEwNDI2NzI2M30.kgJWBesoUaoUU43Ed1l18LqzTW35Tt_oh-Uja5-vGBI
NEXT_PUBLIC_API_URL=https://hydrapure.onrender.com/api/v1
NEXT_PUBLIC_MAPTILER_KEY=n4qENepNOO8fvKkEkGPo
